{% extends 'teacher/t_base.html' %}
{% block content %}
<div class="header">
  <h3 class="font-weight-bold mb-4 d-inline-block">Account Details</h3>
</div>
<div class="row account">
  <table>
      <tr>          
          <tr>
              <th>Name</th>
              <td>{{ teacher.t_fullname }}</td>              
          </tr>
          <tr>
            <th>Employee ID</th>
            <td>{{teacher.t_empid}}</td>              
        </tr>
        <tr>
            <th>Email</th>
            <td>{{teacher.t_email}}</td>              
        </tr>
        <tr>
            <th>EIIN</th>
            <td>{{teacher.sch_eiin}}</td>              
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{teacher.t_phone}}</td>              
        </tr>
      </tr>
  </table>
</div>
{% endblock %}