{% extends 'teacher/t_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="header">
  <h3 class="font-weight-bold mb-4 d-inline-block">Account Details</h3>
</div>
<div class="row account">
  <div class="user_account_data">
    {% if profileUpForm %}
    <form action="{% url 't-profile-update' %}" method="POST">
      {% csrf_token %}
      {{ profileUpForm | crispy }}
      <input type="submit" class="btn btn-success btn-sm" value="UPDATE">
    </form>
    {% else %}
    <img class="mb-5 rounded-circle" src="{{ teacher.dp.url }}" alt="">
    <table>
      <tr>
        <th>Name</th>
        <td>:</td>
        <td>{{ teacher.t_fullname }}</td>
      </tr>
      <tr>
        <th>Employee ID</th>
        <td>:</td>
        <td>{{teacher.t_empid}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>:</td>
        <td>{{teacher.t_email}}</td>
      </tr>
      <tr>
        <th>EIIN</th>
        <td>:</td>
        <td>{{teacher.sch_eiin}}</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>:</td>
        <td>{{teacher.gender}}</td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>:</td>
        <td>{{teacher.t_phone}}</td>
      </tr>
    </table>

    <a type="button" class="mt-3 btn btn-sm btn-warning" href="{% url 't-profile-update' %}">Profile Update</a>
    {% if message %}
    <p class="alert alert-success mt-4">{{ message }}</p>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}