{% extends 'teacher/t_base.html' %}
<!--{% load crispy_forms_tags %} -->
{% block content %}
<!--<form method="POST">
  {% csrf_token %}
  <input type="text" id="roll" name="roll" placeholder="Student Roll">
  <input type="text" id="class" name="class" placeholder="class">
   <select id="class" name="class">
        <option>------------------</option>
        {% for cls in stuobj %}
        <option value={{cls.s_class}}>{{cls.s_class}}</option>
        {% endfor %}
    </select>  -->
 <!-- <input type="text" id="password" name="password" placeholder="password">
  <input type="submit" class="btn btn-sm btn-outline-info" value="Submit">
</form>

<div class="row teacher_verify">
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Student Roll</th>
        <th scope="col">Student Class</th>
        <th scope="col">Student EIIN</th>

      </tr>
    </thead>
    <tbody>
      {% for student in sa %}

      <tr>
        <td>{{ student.s_roll }}</td>
        <td>{{ student.s_class}}</td>
        <td>{{ student.SchoolEIIN }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not sa %}
  <div class="justify-content-center d-block">
    <span class="text-danger">No Student registration yet!</span>
  </div>
  {% endif %}
</div> -->



<!--       <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form | crispy}}
                        <input type="submit" class="btn btn-sm btn-outline-info" value="Submit">
                    </form> -->

{% endblock content%}