{% extends 'teacher/h_base.html' %}
{% block content %}
<div class="row">
                    <div class="col-4">
                        <div class="school">
                            <div class="school_name">
                                <a href="school.html">
                                    <h5>Class 6</h5>
                                </a>
                            </div>
                            <div class="school_info">
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #1ca849;">877</h1>
                                    </div>
                                    <div class="text">
                                        <p>Total number of student</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #b505b5;">82%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Attendance</p>
                                        <p class="attntxt">Last 30 days</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #ff7a00;">98%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Passed</p>
                                        <p class="restxt">Half yearly exam 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<div class="col-4">
                        <div class="school">
                            <div class="school_name">
                                <a href="school.html">
                                    <h5>Class 7</h5>
                                </a>
                            </div>
                            <div class="school_info">
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #1ca849;">877</h1>
                                    </div>
                                    <div class="text">
                                        <p>Total number of student</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #b505b5;">82%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Attendance</p>
                                        <p class="attntxt">Last 30 days</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #ff7a00;">98%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Passed</p>
                                        <p class="restxt">Half yearly exam 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="col-4">
                        <div class="school">
                            <div class="school_name">
                                <a href="school.html">
                                    <h5>Class 8</h5>
                                </a>
                            </div>
                            <div class="school_info">
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #1ca849;">877</h1>
                                    </div>
                                    <div class="text">
                                        <p>Total number of student</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #b505b5;">82%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Attendance</p>
                                        <p class="attntxt">Last 30 days</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #ff7a00;">98%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Passed</p>
                                        <p class="restxt">Half yearly exam 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="col-4">
                        <div class="school">
                            <div class="school_name">
                                <a href="school.html">
                                    <h5>Class 9</h5>
                                </a>
                            </div>
                            <div class="school_info">
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #1ca849;">877</h1>
                                    </div>
                                    <div class="text">
                                        <p>Total number of student</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #b505b5;">82%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Attendance</p>
                                        <p class="attntxt">Last 30 days</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #ff7a00;">98%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Passed</p>
                                        <p class="restxt">Half yearly exam 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="col-4">
                        <div class="school">
                            <div class="school_name">
                                <a href="school.html">
                                    <h5>Class 10</h5>
                                </a>
                            </div>
                            <div class="school_info">
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #1ca849;">877</h1>
                                    </div>
                                    <div class="text">
                                        <p>Total number of student</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #b505b5;">82%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Attendance</p>
                                        <p class="attntxt">Last 30 days</p>
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="number float-left">
                                        <h1 style="color: #ff7a00;">98%</h1>
                                    </div>
                                    <div class="text">
                                        <p>Passed</p>
                                        <p class="restxt">Half yearly exam 2019</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
<form>

                                        <div class="form-group">
                                            <label for="">Select Class</label>
                                            <select name="" id="" class="form-control">
                                                <option value="">6</option>
                                                <option value="">7</option>
                                                <option value="">8</option>
                                                <option value="">9</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-primary">Assign</button>
                                    </form>

{% endblock content %}