{% extends 'teacher/t_base.html' %}
{% block content %}      
        <div class="row">   
            {% for clas in clas %}          
            <div class="t_class bg-primary col-4 mr-2 mb-2">                
                <a href="" style="text-decoration:none;"><h2 class="text-light"><span style="margin-right: 155px;" class="">Class {{clas.classes}}</span> <i class="fas fa-university"></i></h2></a>               
            </div>            
            {% endfor %}
            {% if not clas %}
            <p class="text-danger">You are not assigned to any class yet!</p>
            {% endif %}
        </div>     
{% endblock content %}