{% extends 'teacher/t_base.html' %}
{% block content %}
<h2 class="mb-3">All students of class {{classno}}</h2>
<form method="POST">
  {% csrf_token %}
  <input type="text" id="roll" name="roll" placeholder="Student Roll">
  <input type="text" id="password" name="password" placeholder="password">
  <input type="submit" class="btn btn-sm btn-outline-info" value="Submit">
</form>

<div class="row teacher_verify">
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Student Roll</th>
        <th scope="col">Student Class</th>
        <th scope="col">Student EIIN</th>

      </tr>
    </thead>
    <tbody>
      {% for student in sa %}

      <tr>
        <td>{{ student.s_roll }}</td>
        <td>{{ student.s_class}}</td>
        <td>{{ student.SchoolEIIN }}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not sa %}
  <div class="justify-content-center d-block">
    <span class="text-danger">No Student registration yet!</span>
  </div>
  {% endif %}
</div>





{% endblock content %}