{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3">
    <div class="userloginform">
        <h4 class="d-inline-block mb-2">Teacher Login</h4>
        <span class="mt-1 float-right badge mt-1 badge-info">CSMS</span>
        <div class="bg-info mb-3" style="padding: 0.5px;"></div>
        <div id="">
            <form action="{% url 't-login' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ loginForm | crispy }}
                <input type="submit" class="btn btn-sm btn-outline-info" value="Login" />
            </form>
            <span style="font-size: 13px;">Not Registered? <a href="{% url 't-signup' %}">Sign Up</a></span>
            <div class="mt-3">
                {% if message %}
                <p class="alert alert-danger" id="alert-style">{{ message }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}