{% extends 'headmaster/h_base.html' %}
{% block content %}
<div class="header">
  <h3 class="font-weight-bold mb-4 d-inline-block">All Teacher</h3>
</div>
<div class="row allteacher">
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Teacher Name</th>
        <th scope="col">Teacher Email</th>
        <th scope="col">Employee ID</th>
        <th scope="col">School EIIN</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teacher %}
      <tr>
        <td>{{ teacher.t_fullname }}</td>
        <td>{{ teacher.t_email}}</td>
        <td>{{ teacher.t_empid }}</td>
        <td>{{ teacher.sch_eiin}}</td>
        <td> {{ teacher.t_phone }}</td>
      </tr>
      {% endfor %}
      {% if not teacher %}
      <td class="text-danger text-center">No teacher registered!</td>
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}