{% extends 'headmaster/h_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h3 class="font-weight-bold mb-4 d-inline-block">Assign Teacher</h3>
</div>
<div class="assign_teacher">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-sm btn-outline-success" value="Assign">
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#t_empid').change(function () {
            var id = $('#t_empid').val();
            $.ajax({
                type: 'GET',
                url: 'change_tname',
                data: {
                    'ids': id

                },
                success: function () {

                }


            })
        })
    })
</script>
{% endblock %}