{% extends 'headmaster/h_base.html' %}
{% block content %}
<div class="header">
  <h3 class="font-weight-bold mb-4 d-inline-block">Teacher Pending Registration</h3>
</div>
<div class="teacher_verify">
<div class="row">
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">DP</th>
        <th scope="col">Teacher Name</th>
        <th scope="col">Teacher Email</th>
        <th scope="col">Employee ID</th>
        <th scope="col">EIIN</th>
        <th scope="col">Phone</th>
        <th scope="col">Accept/Reject</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in tv %}

      <tr>
        <td><img class="rounded-circle" src="{{ teacher.dp.url }}" alt=""></td>
        <td>{{ teacher.t_fullname }}</td>
        <td>{{ teacher.t_email}}</td>
        <td>{{ teacher.t_empid }}</td>
        <td>{{ teacher.sch_eiin}}</td>
        <td> {{ teacher.t_phone }}</td>
        <td>
          <a href="{{ teacher.approve_teacher }}" class="btn btn-sm btn-success"><i
              class="fas fa-check"></i></a>
          <a href="{{ teacher.reject_teacher }}" class="btn btn-sm btn-danger"><i class="fas fa-times"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not tv %}
  <div class="justify-content-center d-block">
    <span class="text-danger">No teacher pending registration!</span>
  </div>
  {% endif %}
</div>
</div>
{% endblock %}