{% extends 'headmaster/h_base.html' %}
{% block content %}
<div class="row">
    <div class="col-9">
            <div class="" id="page_content">
                <div class="row">
                    <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Teacher Name</th>
                              <th scope="col">Teacher Email</th>
                              <th scope="col">Employee ID</th>
                              <th scope="col">School EIIN</th>
                               <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                           {% for teacher in tv %}

                            <tr>
                              <td>{{ teacher.t_fullname }}</td>
                                <td>{{ teacher.t_email}}</td>
                              <td>{{ teacher.t_empid }}</td>
                              <td>{{ teacher.sch_eiin}}</td>
                                <td> {{ teacher.t_phone}}</td>
                                <td> <button href="" class="btn btn-sm btn-outline-success" >Accept</button>  <button class="btn btn-sm btn-outline-danger">Reject</button> </td>
                            </tr>

                             {% endfor %}
                          </tbody>
                    </table>
            </div>
            </div>
        </div>
</div>
{% endblock %}