{% extends 'o_base.html' %}
{% block content %}
<div class="row">
    {% for sch in school %}
    <div class="col-4 mb-4">
        <div class="school">
            <div class="school_name">
                <a href="{{ sch.get_absolute_url }}">
                    <h5 class="font-weight-bold">{{ sch.schoolName }}</h5>
                </a>
            </div>
            <div class="school_info">
                <div class="info">
                    <div class="number float-left">
                        <h1 style="color: #1ca849;">{{ sch.totalStudent }}</h1>
                    </div>
                    <div class="text">
                        <p>Total number of student</p>
                    </div>
                </div>
                <div class="info">
                    <div class="number float-left">
                        <h1 style="color: #b505b5;">{{sch.attendance_percentage}}%</h1>
                    </div>
                    <div class="text">
                        <p>Attendance</p>
                        <p class="attntxt">Last 30 days</p>
                    </div>
                </div>
                <div class="info">
                    <div class="number float-left">
                        <h1 style="color: #ff7a00;">{{sch.pass_percentage}}%</h1>
                    </div>
                    <div class="text">
                        <p>Passed</p>
                        <p class="restxt">Half yearly exam 2019</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=""></div>
    {% endfor %}
</div>       
{% endblock content %}    