{% extends 'o_base.html' %}
{% block content %}
<div>
    <h3 class="font-weight-bold mb-4">Headmaster Pending Registration</h3>
</div>
<div class="head_verify">
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Dp</th>
                <th scope="col">Headmaster Name</th>
                <th scope="col">Headmaster Email</th>
                <th scope="col">Employee ID</th>
                <th scope="col">EIIN</th>
                <th scope="col">Phone</th>
                <th scope="col">Accept | Reject</th>
            </tr>
        </thead>
        <tbody>
            {% for head in hv %}
            <tr>
                <td><img class="rounded-circle" src="{{ head.dp.url }}" alt=""></td>
                <td>{{ head.h_fullname }}</td>
                <td>{{ head.h_email}}</td>
                <td>{{ head.h_empid }}</td>
                <td>{{ head.sch_eiin}}</td>
                <td> {{ head.h_phone}}</td>
                <td><a class="btn btn-sm btn-success" href="{{ head.approve_head }}"><i
                            class="fas fa-check"></i></a>
                    <a class="btn btn-sm btn-danger" href="{{ head.get_absolute_url }}"><i class="fas fa-times"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if not hv %}
    <span class="text-danger">No headmaster pending registration!</span>
    {% endif %}
</div>
</div>
{% endblock %}