{% extends 'o_base.html' %} {% block content %}
<div class="school_wrap">
  <div class="school_name mb-5">
    <h1 style="font-weight: bold;">{{school.schoolName}}</h1>
    <div style="padding: 1px; background: #4b484b;"></div>
    <h2>EIIN : {{school.SchoolEIIN}}</h2>
  </div>
  <div class="total_student">
    <div class="row">
      <div class="col">
        <h3 class="float-left">Total Number of Student</h3>
        <span class="float-right">
          <h3 style="color: #1ca849; font-weight: bold;">{{total_student}}</h3>
        </span>
      </div>
    </div>
  </div>
  <div class="total_teacher">
    <div class="row">
      <div class="col">
        <h3 class="float-left">Total Teacher</h3>
        <span class="float-right">
          <h3 style="color: #db0080; font-weight: bold;">{{total_teacher}}</h3>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="text-secondary">Male Teacher : {{ total_male_t }}</p>
        <p class="text-secondary">Female Teacher : {{ total_female_t}}</p>
      </div>
    </div>
  </div>
  <div class="attendance">
    <div class="row">
      <div class="col">
        <div class="attdays float-left">
          <h3 class="">Attendance</h3>
          <p class="text-secondary">Last 7 days</p>
        </div>
        <span class="float-right">
          <h3 style="color: #b505b5; font-weight: bold;">
            {{school.attendance_percentage}}%
          </h3>
        </span>
      </div>
    </div>
  </div>
  <div class="attendance">
    <div class="row">
      <div class="col">
        <div class="attdays float-left">
          <h3 class="">Passed</h3>
          <p class="text-secondary">Final Exam 2019</p>
        </div>
        <span class="float-right">
          <h3 style="color: #c2951a; font-weight: bold;">
            {{school.pass_percentage}}%
          </h3>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="actiontab mt-4">
  <div class="actiontab-nav">
    <div class="row">
      <div class="col-3 navbtnwrap">
        <div class="navbtn">
          <input type="radio" value="1" name="radio" id="radio1" />
          <label for="radio1">Headmaster</label>
        </div>
      </div>
      <div class="col-3 navbtnwrap">
        <div class="navbtn">
          <input type="radio" value="1" name="radio" id="radio2" />
          <label for="radio2">All Teacher</label>
        </div>
      </div>
      <div class="col-3 navbtnwrap">
        <div class="navbtn">
          <input type="radio" value="1" name="radio" id="radio3" />
          <label for="radio3">Student Feedback</label>
        </div>
      </div>
      <div class="col-3 navbtnwrap">
        <div class="navbtn">
          <input type="radio" value="1" name="radio" id="radio4" />
          <label for="radio4">Assign Coordinator</label>
        </div>
      </div>
    </div>
  </div>
  <div class="actiontab-body">
    <div class="actiontab-content headmaster" id="headmaster">
      <div class="row mt-2">
        <div class="col-2">
          <img style="width: 150px; height:150px;" src="{{ headmaster.dp.url }}" alt="">
        </div>
        <div class="col-3">
          <h5>Headmaster Name :</h5>
          <h5>Employee ID :</h5>
          <h5>Email Address :</h5>
          <h5>Phone Number :</h5>
        </div>
        {% if not headmaster %}
        <p class="text-danger">
          This school's headmaster is not registered yet!
        </p>
        {% else %}
        <div class="col-3">
          <h5>{{headmaster.h_fullname}}</h5>
          <h5>{{ headmaster.h_empid}}</h5>
          <h5>{{headmaster.h_email}}</h5>
          <h5>{{headmaster.h_phone}}</h5>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="actiontab-content allteacher" id="allteacher">
      <div class="t-list p-3">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Profile Picture</th>
              <th scope="col">Teacher EmpID</th>
              <th scope="col">Teacher Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">EIIN</th>
            </tr>
          </thead>
          <tbody>
            {% if not teacher_list_obj %}
            <td class="text-danger">
              This school's teacher is not registered yet!
            </td>
            {% else %}
            {% for t in teacher_list_obj %}
            <tr>
              <td> <img class="rounded-circle" src="{{ t.dp.url }}" alt=""></td>
              <td>{{t.t_empid}}</td>
              <td>{{t.t_fullname}}</td>
              <td>{{t.t_email}}</td>
              <td>{{t.t_phone}}</td>
              <td>{{t.sch_eiin}}</td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="actiontab-content stdfb" id="stdfb">
      <div class="f-list">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Feedback</th>
            </tr>
          </thead>
          <tbody>
            {% if not feedback %}
            <td class="text-danger">No student feedback yet!</td>
            {% else %}
            {% for f in feedback %}
            <tr>
              <td>
                {{ f.feedback }}
                <span class="font-weight-bold ml-1">{{ f.posted_time }}</span>
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="actiontab-content assco" id="assco">
      <form action="../assign_co/{{school.SchoolEIIN}}" method="POST">
        <div class="form-group">
          <label for="">Select Co-ordinator</label>
          <select name="name" id="" class="form-control">
            <option value="" selected disabled></option>
            {% for co in co %}
            <option value="">{{co.name}}</option>
            {%endfor%}
          </select>
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Assign</button>
      </form>
      <table></table>
    </div>
  </div>
</div>
<script type="text/javascript">
  const headmaster_div = document.getElementById("headmaster");
  const teacher_div = document.getElementById("allteacher");
  const student_f_div = document.getElementById("stdfb");
  const assco_ordinate_div = document.getElementById("assco");

  const headmaster_btn = document.getElementById("radio1");
  const teacher_btn = document.getElementById("radio2");
  const student_f_btn = document.getElementById("radio3");
  const assco_ordinate_btn = document.getElementById("radio4");

  headmaster_btn.addEventListener("click", () => {
    headmaster_div.classList.remove('school_info_div_disable');
    headmaster_div.classList.add('school_info_div_visible');
    teacher_div.classList.remove('school_info_div_visible');
    student_f_div.classList.remove('school_info_div_visible');
    assco_ordinate_div.classList.remove('school_info_div_visible');
  });
  teacher_btn.addEventListener("click", function () {
    headmaster_div.classList.remove('school_info_div_visible');
    headmaster_div.classList.add('school_info_div_disable');
    teacher_div.classList.add('school_info_div_visible');
    student_f_div.classList.remove('school_info_div_visible');
    assco_ordinate_div.classList.remove('school_info_div_visible');
  });
  student_f_btn.addEventListener("click", () => {
    headmaster_div.classList.remove('school_info_div_visible');
    headmaster_div.classList.add('school_info_div_disable');
    teacher_div.classList.remove('school_info_div_visible');
    student_f_div.classList.add('school_info_div_visible');
    assco_ordinate_div.classList.remove('school_info_div_visible');
  });
  assco_ordinate_btn.addEventListener("click", () => {
    headmaster_div.classList.remove('school_info_div_visible');
    headmaster_div.classList.add('school_info_div_disable');
    teacher_div.classList.remove('school_info_div_visible');
    student_f_div.classList.remove('school_info_div_visible');
    assco_ordinate_div.classList.add('school_info_div_visible');
  });
</script>
{% endblock %}