{% extends 'o_base.html' %}
{% block content %}
                <div class="row">
                    <div class="col">                    
                    <table class="table">
                            <thead>
                              <tr>                                
                                <th scope="col">Feedback id</th>
                                <th scope="col">Feedback</th>
                                <th scope="col">From School</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for f in feedback %}
                                <tr>                                
                                    <td>{{ f.id }}</td>                                       
                                    <td>{{ f.feedback }}</td>                                       
                                    <td>{{ f.school }}</td>
                                </tr>
                            {% endfor %}                             
                            </tbody>
                    </table>
                </div>
                </div>            
{% endblock content %}