{% extends 'base.html' %}
{% block content %}
<div class="container mt-3">
    <div class="usersignupform p-3">
        <h4 class="d-inline-block">User Registration</h4><span
            class="mt-1 float-right badge mt-1 badge-info">CSMS</span>
        <div class="bg-info mb-3" style="padding: 0.5px;"></div>
        <div class="form-group mt-2">
            <span class="d-inline-block mr-3 text-info">Select User Type</span>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="selecteduser" id="headmaster" value="headmaster"
                    required>
                <label class="form-check-label" for="headmaster">Headmaster</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="selecteduser" id="teacher" value="teacher">
                <label class="form-check-label" for="teacher">Teacher</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="selecteduser" id="student" value="student">
                <label class="form-check-label" for="student">Student</label>
            </div>
        </div>
        <div class="mt-3">
            {% if messages %}
            <ul class="messages text-center">
                {% for msg in messages %}
                <div class="oreg_alert alert alert-primary" id="ureg_alert">{{ msg }}</div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <span><a href="userbacklogin" class="text-secondary" style="font-size:13px">Back to login</a></span>
        <div id="teacher_head_regform">
            <form action="userregistration" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" placeholder="Enter Full Name" name="userfullname" id="userfullname"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Enter Email" name="useremail" id="useremail" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Choose a Employee ID (e.g. 12467)" name="userempid" id="userempid"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Create password" name="userpass" id="userpass" class="form-control"
                        required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Confirm password" name="usercpass" id="usercpass"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <select name="userschool" id="userschool" id="" class="form-control" required>
                        <option value="" disabled selected>--Select your school--</option>
                        <option value="Government Laboratory High School">Government Laboratory High School</option>
                        <option value="Viqarunnisa Noon School">Viqarunnisa Noon School</option>
                        <option value="Rifles Public School and College">Rifles Public School and College</option>
                        <option value="Dhaka Residential Model School and College">Dhaka Residential Model School and
                            College
                        </option>
                        <option value="Rajuk Uttara Model School & College">Rajuk Uttara Model School & College</option>
                        <option value="Dhanmondi Government Boys’ High School">Dhanmondi Government Boys’ High School
                        </option>
                        <option value="Saint Joseph Higher Secondary School">Saint Joseph Higher Secondary School
                        </option>
                        <option value="St. Gregory’s High School">St. Gregory’s High School</option>
                        <option value="Motijheel Government Boys High school"> Motijheel Government Boys High school
                        </option>
                        <option value="Mirpur Govt. High School">Mirpur Govt. High School</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" placeholder="Enter Phone Number" name="userphone" id="userphone"
                        class="form-control" required>
                </div>
                <div class="form-group mt-2">
                    <span class="d-inline-block mr-3 text-success">Select User Type</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selecteduser" id="headmaster"
                            value="headmaster" required>
                        <label class="form-check-label" for="headmaster">Headmaster</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selecteduser" id="teacher" value="teacher">
                        <label class="form-check-label" for="teacher">Teacher</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selecteduser" id="student" value="student">
                        <label class="form-check-label" for="student">Student</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-outline-success btn-sm float-right" value="Register">
                <span><a href="userbacklogin" class="text-secondary" style="font-size:13px">Back to login</a></span>
            </form>
        </div>
        <div id="student_regform">
            <form action="userregistration" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" placeholder="Your Roll Number" name="student_roll" id="student_roll"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Create password" name="student_pass" id="student_pass"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Confirm password" name="student_cpass" id="student_cpass"
                        class="form-control" required>
                </div>
                <div class="form-group">
                    <select name="student_class" id="student_class" id="" class="form-control" required>
                        <option value="" disabled selected>--Select your class--</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="student_school" id="student_school" id="" class="form-control" required>
                        <option value="" disabled selected>--Select your school--</option>
                        <option value="Government Laboratory High School">Government Laboratory High School</option>
                        <option value="Viqarunnisa Noon School">Viqarunnisa Noon School</option>
                        <option value="Rifles Public School and College">Rifles Public School and College</option>
                        <option value="Dhaka Residential Model School and College">Dhaka Residential Model School and
                            College
                        </option>
                        <option value="Rajuk Uttara Model School & College">Rajuk Uttara Model School & College</option>
                        <option value="Dhanmondi Government Boys’ High School">Dhanmondi Government Boys’ High School
                        </option>
                        <option value="Saint Joseph Higher Secondary School">Saint Joseph Higher Secondary School
                        </option>
                        <option value="St. Gregory’s High School">St. Gregory’s High School</option>
                        <option value="Motijheel Government Boys High school"> Motijheel Government Boys High school
                        </option>
                        <option value="Mirpur Govt. High School">Mirpur Govt. High School</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <span class="d-inline-block mr-3 text-success">Select User Type</span>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selecteduser" id="headmaster"
                            value="headmaster" required>
                        <label class="form-check-label" for="headmaster">Headmaster</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selecteduser" id="teacher" value="teacher">
                        <label class="form-check-label" for="teacher">Teacher</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="selecteduser" id="student" value="student">
                        <label class="form-check-label" for="student">Student</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-outline-success btn-sm float-right" value="Register">
                <span><a href="userbacklogin" class="text-secondary" style="font-size:13px">Back to login</a></span>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#student_regform').hide();
        $('#teacher_head_regform').hide();
    })
    $("#headmaster").on("click", function () {
        $('#teacher_head_regform').slideDown();
        $('#student_regform').hide();
    });
    $("#teacher").on("click", function () {
        $('#teacher_head_regform').slideDown();
        $('#student_regform').hide();
    });
    $("#student").on("click", function () {
        $('#teacher_head_regform').hide();
        $('#student_regform').slideDown();
    });
</script>
{% endblock content %}