{% extends 'base.html' %}
<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta charset="UTF-8">

    <title>Centralized School Monitoring System</title>
</head>

<body>
    {% block content %}

    <div class="container">
        <div class="userSelect">
            <div class="user" style="background:#8abd2e">
                <a href="enterOfficer"><i class="fas fa-user-shield"></i></a>
                <div class="username">
                    <p>Officer</p>
                </div>
            </div>
            <div class="user" style="background:#fbaa52">
                <a href="userlogin"><i class="fas fa-user"></i></a>
                <div class="username">
                    <p>Headmaster</p>
                </div>
            </div>
            <div class="user" style="background:#41a4ca">
                <a href="userlogin"><i class="fas fa-chalkboard-teacher"></i></a>

                <div class="username">
                    <p>Teacher</p>
                </div>
            </div>
            <div class="user" style="background:#bf81db">
                <a href="userlogin"><i class="fas fa-users"></i></a>
                <div class="username">
                    <p>Student</p>
                </div>
            </div>

        </div>
    </div>
    {% endblock content %}
</body>

</html>