body {
  background-color: whitesmoke;
}
/*base html*/
.right_link ul {
  list-style: none;
}
.right_link ul li {
  float: left;
  padding: 0px 20px;
}
.right_link ul li a {
  font-size: 16px;
  color: white;
  text-decoration: none;
}
.right_link ul li a:hover {
  color: #909090;
}
/*base html*/
.userSelect {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 650px;
  height: 10px;
}

.user {
  width: 150px;
  height: 160px;
  background: orange;
  float: left;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
}

.user i {
  font-size: 100px;
  color: #484848;
  margin-top: 20px;
  margin-bottom: 10px;
}

.username {
  height: 40px;
  background: #ddd;
  border-radius: 0px 0px 5px 5px;
}

.username p {
  padding: 10px;
}
.usersignupform,
.officer-registration-form {
  margin: 0 auto;
  width: 500px;
  background: white;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
}
.offloginform .oreg_alert,
.userloginform .oreg_alert,
.officer-registration-form .oreg_alert {
  margin-left: -40px;
  font-size: 13px;
  height: 30px;
  padding: 4px 0;
}
#ureg_alert {
  margin-left: -40px;
  font-size: 13px;
  height: 30px;
  padding: 4px 0;
}
.offloginform,
.userloginform {
  background: white;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
}
.tophead {
  height: 50px;
}
.tophead .logo {
  padding: 4px 20px;
}
.tophead .title h5 {
  color: white;
  padding: 10px;
}
.tophead .logout {
  padding: 10px;
}
.tophead .menubtn {
  color: white;
  margin: 10px 20px;
}
/*officer dashboard start*/
.sidebar {
  width: 290px;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: #1f2a3e;
}
.side_menu a {
  background: none;
  font-size: 15px;
  text-decoration: none;
  color: #0681b1;
}
.side_menu a:hover {
  color: #00b0d9;
  transition: 0.3s all ease;
}
.side_menu i {
  margin-right: 10px;
}
#page_content {
  padding: 10px;
}
#page_content .school {
  background: white;
  border-radius: 10px;
  height: 300px;
  box-shadow: 5px 10px 18px #888888;
}
.school_info {
  height: 250px;
  padding: 10px 0px;
}
#page_content .school .school_name {
  background: #78d5f7;
  height: 55px;
  padding: 5px 35px;
  border-radius: 10px 10px 0 0;
}
.school_name a {
  color: #424242;
  text-decoration: none;
}
.school_name a:hover {
  color: #252525;
}
#page_content .info {
  height: 60px;
  padding: 0px 10px;
}
.info .text {
  display: inline-block;
  margin: 10px;
}
.info .number {
  width: 30%;
  text-align: center;
}
.attntxt,
.restxt {
  font-size: 12px;
  color: #909090;
  margin-top: -20px;
}
/*officer dashboard*/
/*Headmaster dashboaard start*/
#headmaster_dashboard .sidebar {
  background: #191b1e;
}
#headmaster_dashboard .side_menu a {
  color: #a06900;
}
#headmaster_dashboard .side_menu a:hover {
  color: #00b0d9;
}
/*Headmaster dashboaard*/
/*Teacher dashboaard start*/
#teacher_dashboard .sidebar {
  background: #2b1f37;
}
#teacher_dashboard .side_menu a {
  color: #9a72c2;
}
#teacher_dashboard .side_menu a:hover {
  color: #a06900;
}
/*Teacher dashboaard*/

/*school details view css*/
.actiontab-nav .navbtn input {
  visibility: hidden;
}
.actiontab-nav .navbtn label {
  color: white;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}

.navbtn input:checked + label {
  border-bottom: 3px solid #ddd;
  margin-right: -2px;
}
.navbtnwrap {
  text-align: center;
}
