{% extends 'base.html' %}
{% block content %}

<div id="student_dashboard">
    <div class="row">
        <div class="col-3">
            <div class="sidebar">
                <div class="side_menu" class="list-group pt">
                    <a href="logout" class="list-group-item"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-9">
            <div class="" id="page_content">
                <div class="feedback">
                    <h3>Send Feedback</h3>
                    <div class="mb-3" style="padding: .5px;background:rgb(148, 148, 148);"></div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <select class="form-control" name="schoolselect" id="">
                                <option value="" disabled selected>--Select your school--</option>
                                <option value="Government Laboratory High School">Government Laboratory High School
                                </option>
                                <option value="Viqarunnisa Noon School">Viqarunnisa Noon School</option>
                                <option value="Rifles Public School and College">Rifles Public School and College
                                </option>
                                <option value="Dhaka Residential Model School and College">Dhaka Residential Model
                                    School
                                    and
                                    College
                                </option>
                                <option value="Rajuk Uttara Model School & College">Rajuk Uttara Model School & College
                                </option>
                                <option value="Dhanmondi Government Boys’ High School">Dhanmondi Government Boys’ High
                                    School
                                </option>
                                <option value="Saint Joseph Higher Secondary School">Saint Joseph Higher Secondary
                                    School
                                </option>
                                <option value="St. Gregory’s High School">St. Gregory’s High School</option>
                                <option value="Motijheel Government Boys High school"> Motijheel Government Boys High
                                    school
                                </option>
                                <option value="Mirpur Govt. High School">Mirpur Govt. High School</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="" id="" cols="30" rows="10"
                                placeholder="Send your feedback here. .."></textarea>
                        </div>
                        <input type="submit" class="btn btn-sm btn-outline-info" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}